services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    restart: unless-stopped
    volumes:
      - ./data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      # <Host Port>:<Container Port>
      - "3003:3001"
    security_opt:
      - no-new-privileges:true
